@import url("https://fonts.googleapis.com/css2?family=Gloock&display=swap");

* {
  margin: 0;
  padding: 0;
}

.home {
  min-height: 100vh;
  background:
    /* top, transparent black, faked with gradient */ linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.3)
    ),
    /* bottom, image */
      url(https://images.unsplash.com/photo-1618746647602-1384364ac94b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeh1 {
  font-family: "Gloock", serif;
  font-size: 80px;
  background-image: linear-gradient(to right, white, #6bc5f8, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400% 400%;
  transition: 0.3s ease-in-out;
  animation: rainbow-animation 35s linear infinite;
}

@keyframes rainbow-animation {
  to {
    background-position: 4500vh;
  }
}

.homeh2 {
  color: white;
  opacity: 0;
  font-size: 40px;
  position: relative;
  top: 50px;
  font-family: Mark Pro,sans-serif;
  transition: 0.3s ease-in-out;
}

@media screen and (max-width: 600px) {
  .homeh1 {
    font-size: 50px;
  }
  .homeh2 {
    font-size: 30px;
  }
}

@media screen and (max-width: 300px) {
  .homeh1 {
    font-size: 30px;
  }
  .homeh2 {
    font-size: 20px;
  }
}
