@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

.hiddenP {
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  }
  
  .visibleP {
    opacity: 1;
    transform: translateY(0);
  }
  
  .hiddenM {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 2s ease-in-out, transform 2s ease-in-out;
  }
  
  .visibleM {
    opacity: 1;
    transform: translateY(0);
  }

.works{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #f1f1f1;
}

.main2 {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%;
    margin: 0 12px;
}

.worksTxt {
    margin-top: 125px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 5px;
}

.imgDiv {
    margin-bottom: 12px;
}

@media screen and (max-width: 991px) {
    .main2 {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media screen and (max-width: 480px) {
    .main2 {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
    }
}