

.aaMainDiv {
    background-color: #343a40;
    padding: 20px;
    margin: 120px;
    border-radius: 10px;
}

.aah1 {
    font-size: 22px;
    margin-bottom: 20px;
    font-family: sans-serif;
    color: white;
}